@model List<Hotel>

<h2>Hotel Listings</h2>

@foreach (var hotel in Model)
{
    <div>
        <h4>@hotel.Name</h4>
        <p>@hotel.Description</p>
        <p>@hotel.Location - $@hotel.PricePerNight/night</p>
        <p>Available from: @hotel.AvailableFrom.ToShortDateString() to @hotel.AvailableTo.ToShortDateString()</p>
        @foreach (var image in hotel.Images)
        {
            <img src="@Url.Content("Hotel" + image)" alt="Hotel Image" />
        }
        <a href="@Url.Action("EditHotel", "Hotel", new { id = hotel.Id })">Edit</a> |
        <a href="@Url.Action("DeleteHotel", "Hotel", new { id = hotel.Id })">Delete</a>
    </div>
}